 .body {
    color: #efffff;
    font-family: 'Courier New', Courier, monospace;
 }

    .headerContainer {
        display: flex; 
        flex-direction: column; 
        gap: 5px; 
        background-color: #000100;
        width: 100%; 
        height: 25vh; 
        text-align: center;
        align-content: center;
    }

        .buttonContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-right: 20vw;
            margin-left: 20vw;
        }

    .mainContainer {
        display: flex; 
        flex-direction: column;
        background-color: #017101;
        width: 100%; 
        min-height: 75vh;
        gap: 2%; 
    }

        .userCard {
        border: 2px solid white; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start; 
        padding: 10px; 
        margin: 10px;
        }



@media only screen and (min-width: 768px) { 
body {
    background-image: url('./mountain-sunset-silhouette-hurricane-ridge.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        min-height: 100vh;
        padding: 20px;
}


.headerContainer {
    height: 20vh; 
    opacity: 0.8;
}

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.mainContainer {
display: flex;
flex-direction: column;
gap: 2%; 
align-items: center; 
opacity: 0.8;
background-color: #00583c;
font-weight: 600;
}

    .userCard {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-right: 5px;
        box-sizing: border-box;
        margin-left: 5px; 
    }
}