 .body {
    color: #efffff;
    font-family: 'Courier New', Courier, monospace;
 }

.headerContainer {
    display: flex; 
    flex-direction: column; 
    background-color: #000100;
    width: 100%; 
    height: 25vh; 

}

.mainContainer {
    display: flex; 
    flex-direction: column;
    background-color: #017101;
    width: 100%; 
}



@media only screen and (min-width: 768px) { 

}