 .body {
    color: #efffff;
    font-family: 'Courier New', Courier, monospace;
 }

.headerContainer {
    display: flex; 
    flex-direction: column; 
    background-color: #000100;
    width: 100%; 
    height: 25vh; 
    text-align: center;

}

.mainContainer {
    display: flex; 
    flex-direction: column;
    background-color: #017101;
    width: 100%; 
    min-height: 75vh;
    gap: 2%; 
}

.userCard {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;  
}


@media only screen and (min-width: 768px) { 

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 2%; 
    align-items: center;
}

    .userCard {
        display: flex;
        flex-direction: row;

    }



}